{:builds
 {:app {:target :browser
        :output-dir "build"
        :modules
        {:main {:init-fn net.thewagner.cherry/init}}
        :js-options
        {:js-provider :external
         :external-index "build/index.js"}
        :dev-tools
        {:watch-dir "dist"}}}}
