{:builds
 {:app {:target :browser
        :compiler-options
        {:infer-externs true
         :externs ["cherry-externs.js"]}

        :output-dir "public/js"

        :modules
        {:main {:init-fn net.thewagner.cherry/init}}

        :js-options
        {:js-provider :external
         :js-package-dirs ["node_modules", "../../node_modules"]
         :external-index "public/js/index.js"}

        :build-hooks
        [(net.thewagner.build/hook)]}}}
