@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css";

.table tr td {
    text-align: right;
    vertical-align: middle;
}

.explorers {
    display: grid;
    grid-template-columns: 1fr;
    
    @media (min-width: 1650px) {
        grid-template-columns: 1fr 1fr;
    }

}
